{% set prototype =
'<label class="custom-file">
    <input type="file" id="trick_images___name___file" name="trick[images][__name__][file]" class="custom-file-input">
    <span class="custom-file-control form-control-file"></span>
</label>'
%}

{% if __name__ is defined %}
    {% set prototype = prototype|replace({'__name__': __name__}) %}
{% endif %}

{{ prototype|raw }}
