{% extends 'secondary.html.twig' %}

{% block title %}
    {{ parent() ~ '- Ajouter' }}
{% endblock %}

{% block content %}
    <section class="bg-light" id="tricks">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Ajout d'une figure</h2>
          </div>
          <div class="col-lg-12 text-center">
              {% include('snowtricks/_form.html.twig') %}
          </div>
        </div>
        <div class="row">
            <div class="col-lg-12 btns">
                <p class="pull-right">
                  <a href="#" class="btn btn-info">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    Retour à la liste
                  </a>
            </div>
        </div>
      </div>
    </section>
{% endblock %}
