{% extends 'secondary.html.twig' %}

{% block title %}
    {{ parent() ~ '- Modifier ' ~ form.vars.data.name }}
{% endblock %}

{% block content %}
    <section class="bg-light" id="tricks">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Modification de la figure {{ form.vars.data.name }}</h2>
          </div>
          <div class="col-lg-12 text-center">
             {% include('snowtricks/_form.html.twig') %}
          </div>
        </div>
        <div class="row">
            <div class="col-lg-12 btns">
                <p class="pull-right">
                  <a href="{{ path('trick_view', {'slug': form.vars.data.slug}) }}" class="btn btn-info">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    Retour à la figure
                  </a>
            </div>
        </div>
      </div>
    </section>
{% endblock %}
