{% extends 'base.html.twig' %}

{% block header %}
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Bienvenue sur SnowTricks</div>
          <div class="intro-heading text-uppercase">Apprenez des figures</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#tricks">Voir les figures</a>
        </div>
      </div>
    </header>
{% endblock %}
